
*.pyo
*.pyc
*.res
*.exe
*.mod
*.o
*~
#*#
nohup.out
a.out

build
install
Testing
__pycache__

*/CMakeFiles
*/CMakeCache.txt
*/Makefile
*/cmake_install.cmake
*/CTestTestfile.cmake
*/DartConfiguration.tcl
*/nmd_tests


